{% extends 'navbar_dmo.html.twig' %}

{% block body %}
    <div class="container bloc_calc">
        <h1 class="titre_calc">Calcul du coefficient multiplicateur</h1>

        {{ form_start(form) }}
        <div class="form-group">
            <label for=" "></label>
            {{ form_widget(form.achatNet) }}
        </div>
        <div class="form-group">
            <label for=" "></label>
            {{ form_widget(form.venteNet) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info button_calculer">Calculer</button>
        </div>
        {{ form_end(form) }}
        <div class="form-group result_calc">
            {% if result is defined %}
                <h4>Le prix d'achat est de : {{ result }} euros</h4>
            {% endif %}
        </div>

    </div>
{% endblock %}