{% extends 'base.html.twig' %}

{% block body %}
    {{ encore_entry_link_tags('app') }}
    <div class="container" id="connexion">
<h1 id="titre_principal_accueil">Connexion</h1>

    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <input placeholder="Email" required type="text" name="_username" class="form-control">
        </div>
        <div class="form-group">
            <input placeholder="Password" required type="password" name="_password" class="form-control">
        </div>

        <div class="form-group" id="button_connexion">
            <button type="submit" class="btn btn-info">Connexion</button>
        </div>
    </form>
    </div>
{% endblock %}