{% extends 'base.html.twig' %}
{% block body %}
    {{ encore_entry_link_tags('app') }}
<h1 id="test">Inscription</h1>
    {{ form_start(form) }}
    {{ form_row(form.username, {'attr':{'placeholder': 'Username'}}) }}
    {{ form_row(form.email, {'attr':{'placeholder': 'Email'}}) }}
    {{ form_row(form.password, {'attr':{'placeholder': 'Password'}}) }}
    {{ form_row(form.confirm_password, {'attr':{'placeholder': 'Confirm your password'}}) }}
    <button type="submit" class="btn btn-info">Inscription</button>
    {{ form_end(form) }}
{% endblock %}
