{% extends 'base.html.twig' %}

    {% block body %}
        {{ encore_entry_link_tags('app') }}

        <h1 id="titre_principal_accueil">Bienvenue sur l'espace Nivantis, veuillez sélectionner votre poste.</h1>
        <div class="container" id="choix">
            <div class="row">
                <a href="{{ path('menu_dmo') }}" type="button" class="btn btn-info btn-lg btn-block">Vous êtes DMO</a>
                <a href="{{ path('menu_nivantis') }}" type="button" class="btn btn-info btn-lg btn-block">Vous êtes salarié de l'entreprise Nivantis</a>
            </div>
        </div>
    {% endblock %}
