{% extends 'navbar_dmo.html.twig' %}

{% block body %}

    <div class="container" id="calculatrice">
        <div class="row" id="button_calculatrice">
            <a href="{{ path ('prix_achat') }}" type="button" class="btn btn-info btn-lg btn-block">Calculer le prix d'achat net</a>
            <a href="{{ path ('taux_remise') }}" type="button" class="btn btn-info btn-lg btn-block">Calculer le taux de remise</a>
            <a href="{{ path ('prix_vente') }}" type="button" class="btn btn-info btn-lg btn-block">Calculer le prix de vente net</a>
            <a href="{{ path ('coefficient') }}" type="button" class="btn btn-info btn-lg btn-block">Calculer le coefficient multiplicateur</a>
        </div>
    </div>
{% endblock %}