{% extends 'navbar_dmo.html.twig' %}

{% block body %}

    <div class="container" id="menu_dmo">
        <div class="row" id="button_calculatrice">
            <a href="{{ path('geo_pharmacie') }}" type="button" class="btn btn-info btn-lg btn-block">Géolocalisation</a>
            <a href="{{ path('pharmacie_list_dmo') }}" type="button" class="btn btn-info btn-lg btn-block">Liste des pharmacies</a>
        </div>
    </div>
{% endblock %}