{% extends 'navbar_dmo.html.twig' %}

{% block body %}

    <div class="container" id="menu_dmo">
        <div class="row" id="button_calculatrice">
            <a href="{{ path ('calculatrice') }}" type="button" class="btn btn-info btn-lg btn-block">Calculatrice</a>
            <a href="{{ path('find_pharmacie') }}" type="button" class="btn btn-info btn-lg btn-block">Trouver la pharmacie la plus proche</a>
            <a href="{{ path ('officines') }}" type="button" class="btn btn-info btn-lg btn-block">Formulaire d'informations sur les officines</a>
        </div>
    </div>
{% endblock %}