{% extends 'navbar_dmo.html.twig' %}

{% block body %}
    <div class="container">
        <h1 id="questionnaire_dmo">Questionnaire d'informations sur les officines</h1>
        <br>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.nomRedacteur, 'Votre nom') }}
            <br>
            {{ form_widget(form.nomRedacteur, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.prenomRedacteur, 'Votre prenom') }}
            <br>
            {{ form_widget(form.prenomRedacteur, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.dateJour, 'Date du jour (jj/mm/yyyy)') }}
            <br>
            {{ form_widget(form.dateJour, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nom, 'Nom de la pharmacie') }}
            <br>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.adresse, 'Numéro et nom de rue') }}
            <br>
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.ville, 'Ville') }}
            <br>
            {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.codePostal, 'Code Postal') }}
            <br>
            {{ form_widget(form.codePostal, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nbSalarie, 'Nombre de salariés') }}
            <br>
            {{ form_widget(form.nbSalarie, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.moyClient, 'Moyenne de clients (par jour)') }}
            <br>
            {{ form_widget(form.moyClient, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.chiffreAffaire, 'Chiffre d\'affaires (par mois)') }}
            <br>
            {{ form_widget(form.chiffreAffaire, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.prodPlusVendu, 'Produit le plus vendu') }}
            <br>
            {{ form_widget(form.prodPlusVendu, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.prodMoinsVendu, 'Produit le moins vendu') }}
            <br>
            {{ form_widget(form.prodMoinsVendu, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info btn-lg button_soumettre">Soumettre</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    $('.datepicker').datepicker();
{% endblock %}