{% extends 'navbar_dmo.html.twig' %}

{% block body %}
    <div class="container">
        <h1 id="questionnaire_nivantis">Informations sur la pharmacie</h1>
        <br>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.nom, 'Nom de la pharmacie') }}
            <br>
            {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'disabled':'disabled' }}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.adresse, 'Numéro et nom de rue') }}
            <br>
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.ville, 'Ville') }}
            <br>
            {{ form_widget(form.ville, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.codePostal, 'Code Postal') }}
            <br>
            {{ form_widget(form.codePostal, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.achat, 'Quantité d\'achat') }}
            <br>
            {{ form_widget(form.achat, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.vente, 'Quantité de vente') }}
            <br>
            {{ form_widget(form.vente, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.formation, 'Besoins en formation') }}
            <br>
            {{ form_widget(form.formation, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.nbSalarie, 'Nombre de salariés') }}
            <br>
            {{ form_widget(form.nbSalarie, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.jourOuverture, 'Jours d\'ouverture') }}
            <br>
            {{ form_widget(form.jourOuverture, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.horaireOuverture, 'Horaire d\'ouverture') }}
            <br>
            {{ form_widget(form.horaireOuverture, {'attr': {'class': 'form-control', 'disabled':'disabled'}}) }}
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}