{% extends 'navbar_dmo.html.twig' %}

{% block body %}
    <h1 id="list_pharmacies">Liste des Pharmacies</h1>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom pharmacie</th>
            <th scope="col">Rue</th>
            <th scope="col">Ville</th>
            <th scope="col">Code postal</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        {% for pharmacie in pharmacies %}
            <tbody>
            <tr>
                <td><p>{{ pharmacie.nom }}</p></td>
                <td><p>{{ pharmacie.adresse }}</p></td>
                <td><p>{{ pharmacie.ville }}</p></td>
                <td><p>{{ pharmacie.codePostal }}</p></td>
                <td><a href="{{ path('pharmacie_see', {'id':pharmacie.id}) }}">Voir</a></td>
            </tr>
            </tbody>
        {% endfor %}
    </table>
{% endblock %}