//$primary: darken(#428bca, 20%);

@import "~bootstrap/scss/bootstrap";

#choix, #menu_dmo, #calculatrice, #menu_nivantis, #choix_pharmacie
{
  margin-top: 170px;
}

#titre_principal_accueil, #button_connexion, #questionnaire_dmo, .titre_calc, #questionnaire_nivantis, #list_officines, #list_pharmacies, .result_calc
{
  text-align: center;
}

#connexion
{
  border:1px solid black;
  margin-top: 200px;
}

.button_soumettre, .button_calculer
{
  display: block;
  margin : auto;
}
