{% extends 'navbar_nivantis.html.twig' %}

{% block body %}
    <div class="container" id="menu_nivantis">
        <div class="row" id="button_calculatrice">
            <a href="{{ path('pharmacie_nivantis') }}" type="button" class="btn btn-info btn-lg btn-block">Ajouter ou mettre à jour une pharmacie</a>
            <a href="{{ path('officine_list') }}" type="button" class="btn btn-info btn-lg btn-block">Formulaires des DMO</a>
        </div>
    </div>
{% endblock %}