{% extends 'navbar_nivantis.html.twig' %}

{% block body %}
    <h1 id="list_officines">Liste des Officines</h1>
<br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Nom pharmacie</th>
                <th scope="col">Nom redacteur</th>
                <th scope="col">Prenom redacteur</th>
                <th scope="col">Date de création</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
    {% for officine in officines %}
            <tbody>
            <tr>
                <td>{{ officine.nom }}</td>
                <td><p>{{ officine.nomRedacteur }}</p></td>
                <td><p>{{ officine.prenomRedacteur }}</p></td>
                <td><p>{{ officine.dateJour }}</p></td>
                <td><a href="{{ path('officine_pdf', {'id':officine.id}) }}">Télécharger</a></td>
            </tr>
            </tbody>
    {% endfor %}
        </table>


{% endblock %}