{% extends 'navbar_nivantis.html.twig' %}

{% block body %}
<h1 id="list_pharmacies">Liste des Pharmacies</h1>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Nom pharmacie</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        {% for pharmacie in pharmacies %}
        <tbody>
        <tr>
            <td><p>{{ pharmacie.nom }}</p></td>
            <td><a href="{{ path('pharmacie_edit', {'id':pharmacie.id}) }}">Modifier</a></td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
{% endblock %}