{% extends 'navbar_nivantis.html.twig' %}

{% block body %}
    <div class="container" id="choix_pharmacie">
        <div class="row">
            <a href="{{ path('pharmacie_add') }}" type="button" class="btn btn-info btn-lg btn-block">Ajouter une pharmacie</a>
            <a href="{{ path('pharmacie_list') }}" type="button" class="btn btn-info btn-lg btn-block">Mettre à jour une pharmacie</a>
        </div>
    </div>
{% endblock %}