<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}- Nivantis -{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-nav mr-auto" wfd-id="458">
            <a href="{{ path('menu_dmo') }}" type="button" class="btn btn-info">Retour Menu</a>
        </div>
        <div class="form-inline my-2 my-lg-0" wfd-id="457">
            <a href="{{ path('security_logout') }}" type="button" class="btn btn-info">Deconnexion</a>
        </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>